{
    "plugins": [
      ["import", {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": "css" // `style: true` 会加载 less 文件
      }],
      ["import", {
        "libraryName": "@material-ui/core",
        "libraryDirectory": "components",  // default: lib
        "camel2DashComponentName": false,  // default: true
      }],
      ["import", { "libraryName": "antd", "libraryDirectory": "lib"}, "ant"],
      ["import", { "libraryName": "antd-mobile", "libraryDirectory": "lib"}, "antd-mobile"]
    ]
  }